/* Search bar - clear button */
.clear-search {
    position: absolute;
    top: 10px;
    right: 0;
}

/* Search options */
.search-option-margin {
    margin-right: 35px;
}
.search-option-double-margin {
    margin-right: 70px;
}

/* Spacing */
.space-medium {
    margin-top: 15px;
}

/* Video player */
.video-player {
    display: block;
    margin: auto;
}

/* Data table */
.data-table-header-button-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.quote-info-row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.quote-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Button without style */
.btn-no-style {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.fake-button {
    cursor: pointer;
    cursor: hand;
}

.bug-report {
    text-align: right;
}

/* Keeps footer on the bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

