<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben's Quotes</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!-- Materialize stuff -->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Library for loading CSV files -->
    <script src="js/papaparse.min.js"></script>

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- GitHub button -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
<nav class="blue-grey darken-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Ben's Quotes</a>
    </div>
</nav>

<main>
    <div id="app" class="container">
        <div style="position: relative">
            <input type="text" v-model.trim="searchQuery" placeholder="Search the quotes">
            <button v-if="searchQuery" @click="searchQuery = ''"
                    class="clear-search material-icons blue-grey-text darken-1 btn-no-style">
                clear
            </button>
        </div>
        <div>
            <span class="search-option-margin">Search in</span>

            <input type="checkbox" id="search-post-name" v-model="searchParams.postName">
            <label for="search-post-name" class="search-option-margin">Post name</label>

            <input type="checkbox" id="search-quote-author" v-model="searchParams.quoteAuthor">
            <label for="search-quote-author" class="search-option-margin">Quote author</label>

            <input type="checkbox" id="search-song-title" v-model="searchParams.songTitle">
            <label for="search-song-title" class="search-option-margin">Song title</label>

            <input type="checkbox" id="search-quoted-text" v-model="searchParams.quotedText">
            <label for="search-quoted-text" class="search-option-double-margin">Quoted text</label>

            <input type="checkbox" id="search-check-all" v-model="searchParamsCheckAll" @click="toggleCheckAll">
            <label for="search-check-all">Check all</label>
        </div>

        <div class="space-medium ">
            <iframe v-if="videoUrl"
                    class="video-player"
                    width="560" height="315"
                    :src="videoUrl"
                    frameborder="0" allowfullscreen>
            </iframe>
        </div>

        <div class="space-medium">
            <div class="row"
                 style="margin-bottom: 0">
                <div class="col s3"
                     style="position: relative"
                     v-for="data_table_item in dataTableItems"
                     @click="onSort(data_table_item)">
                    <div class="data-table-header-button-text"
                         style="float: left">
                        <b>{{ data_table_item }}</b>
                    </div>
                    <div style="float: left; height: 100%">
                        <div
                                style="position: relative; height: 25px; transform: translateY(25%); left: 10px">
                            <i v-if="sortCriterion == data_table_item && sortDirection == 1" class="material-icons">
                                arrow_upward
                            </i>
                            <i v-else-if="sortCriterion == data_table_item && sortDirection == -1"
                               class="material-icons">
                                arrow_downward
                            </i>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top: 0; margin-bottom: 10px"/>

            <div v-for="quote, index in sortedQuotes">
                <div class="row quote-info-row" style="margin-bottom: 0">
                    <div class="col s3 btn-no-style">{{ quote[0] | formatDate }}</div>
                    <div class="col s3 btn-no-style"><a v-bind:href="quote[1]">{{ quote[2] }}</a></div>
                    <div class="col s3 btn-no-style">{{ quote[4] }}</div>
                    <div class="col s3 btn-no-style">{{ quote[5] }}</div>
                </div>
                <div class="row grey lighten-3 quote-row">
                    <div class="col s9">
                        <template v-for="quoteLine in quote[3].split('\n')">
                            {{ quoteLine }}<br>
                        </template>
                    </div>
                    <div class="col s3">
                        <a v-if="quote[5].trim()" @click="playSong(index)"
                           class="waves-effect waves-light btn blue-grey darken-1">
                            <i class="material-icons right">play_arrow</i>
                            play
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer blue-grey darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <a class="github-button" href="https://github.com/JakubPetriska/BensQuotes" data-icon="octicon-star"
                   data-style="mega" data-count-href="/JakubPetriska/BensQuotes/stargazers"
                   data-count-api="/repos/JakubPetriska/BensQuotes#stargazers_count"
                   data-count-aria-label="# stargazers on GitHub" aria-label="Star JakubPetriska/BensQuotes on GitHub">
                    Star
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by Jakub Petriska
        </div>
    </div>
</footer>

<!-- Materialize stuff -->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script type="text/javascript">
    var MONTH_NAMES = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    var DATA_TABLE_ITEMS = ["Post date", "Post name", "Quote author", "Song title"]

    function getYoutubeSearchUrl(query) {
        return "https://www.googleapis.com/youtube/v3/search" +
            "?key=AIzaSyBOKFEFDhxSsFCiO9i6xpt5yL5tghOCpBg&part=snippet&maxResults=1&q='" + query + "'"
    }

    var vm = new Vue({
        el: "#app",
        data: {
            posts: [],
            quotes: [],
            searchQuery: "",
            searchParams: {
                postName: true,
                quoteAuthor: true,
                songTitle: true,
                quotedText: true
            },
            searchParamsCheckAll: true,
            checkAllWatcherEnabled: true,
            dataTableItems: DATA_TABLE_ITEMS,
            sortCriterion: DATA_TABLE_ITEMS[0],
            sortDirection: -1,
            videoUrl: null
        },
        methods: {
            search: function (query, content) {
                return content.toLowerCase().search(query.toLowerCase()) != -1
            },
            toggleCheckAll: function () {
                if (this.checkAllWatcherEnabled) {
                    var searchParamsKeys = Object.keys(this.searchParams)
                    for (var i = 0; i < searchParamsKeys.length; ++i) {
                        this.searchParams[searchParamsKeys[i]] = this.searchParamsCheckAll
                    }
                }
            },
            updateCheckAll: function () {
                var allTrue = true
                var searchParamsKeys = Object.keys(this.searchParams)
                for (var i = 0; i < searchParamsKeys.length; ++i) {
                    allTrue = allTrue && this.searchParams[searchParamsKeys[i]]
                }
                this.searchParamsCheckAll = allTrue
            },
            onSort: function (sortItem) {
                if (this.sortCriterion === sortItem) {
                    this.sortDirection *= -1
                } else {
                    this.sortCriterion = sortItem
                    this.sortDirection = sortItem === DATA_TABLE_ITEMS[0] ? -1 : 1
                }
            },
            playSong: function (quoteIndex) {
                // TODO show progress
                var quote = this.sortedQuotes[quoteIndex]
                var author = quote[4].toLowerCase()
                var songTitle = quote[5].toLowerCase()

                var xmlHttp = new XMLHttpRequest()
                xmlHttp.responseType = "json"
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4) {
                        if (xmlHttp.status == 200 && xmlHttp.response
                            && xmlHttp.response.items.length > 0 && xmlHttp.response.items[0].id.videoId) {
                            vm.videoUrl = "https://www.youtube.com/embed/" + xmlHttp.response.items[0].id.videoId
                        } else {
                            console.log("well shit no videos")
                        }
                    }
                }
                xmlHttp.open("GET", getYoutubeSearchUrl(author + " " + songTitle), true)
                xmlHttp.send();
            }
        },
        watch: {
            'searchParams.postName': function () {
                this.updateCheckAll()
            },
            'searchParams.quoteAuthor': function () {
                this.updateCheckAll()
            },
            'searchParams.songTitle': function () {
                this.updateCheckAll()
            },
            'searchParams.quotedText': function () {
                this.updateCheckAll()
            }
        },
        computed: {
            parsedQuotes: function () {
                if (this.posts.length == 0 || this.quotes.length == 0) {
                    // Some of the data were not loaded yet
                    return []
                } else {
                    var result = []
                    for (var i = 0; i < this.quotes.length; ++i) {
                        var quote = this.quotes[i]
                        if (quote.length == 4) {
                            var postId = Number(quote[0])
                            var post = this.posts[postId - 1]
                            var postDate = new Date(post[1])
                            result.push([postDate].concat(post.slice(2), quote.slice(1)))
                        }
                    }
                    return result
                }
            },
            searchedQuotes: function () {
                if (!this.searchQuery
                    || !(this.searchParams.postName || this.searchParams.quoteAuthor
                    || this.searchParams.songTitle || this.searchParams.quotedText)) {
                    return this.parsedQuotes
                } else {
                    var result = []
                    for (var i = 0; i < this.parsedQuotes.length; ++i) {
                        var parsedQuote = this.parsedQuotes[i]
                        var postName = parsedQuote[2]
                        var quoteAuthor = parsedQuote[4]
                        var songTitle = parsedQuote[5]
                        var quotedText = parsedQuote[3]
                        if ((this.searchParams.postName && this.search(this.searchQuery, postName))
                            || (this.searchParams.quoteAuthor && this.search(this.searchQuery, quoteAuthor))
                            || (this.searchParams.songTitle && this.search(this.searchQuery, songTitle))
                            || (this.searchParams.quotedText && this.search(this.searchQuery, quotedText))) {
                            result.push(this.parsedQuotes[i])
                        }
                    }
                    return result
                }
            },
            sortedQuotes: function () {
                var criterionIndex = 0
                if (this.sortCriterion == DATA_TABLE_ITEMS[1]) {
                    criterionIndex = 2
                } else if (this.sortCriterion == DATA_TABLE_ITEMS[2]) {
                    criterionIndex = 4
                } else if (this.sortCriterion == DATA_TABLE_ITEMS[3]) {
                    criterionIndex = 5
                }
                var sortDirection = this.sortDirection
                var sortFunc = function (l, r) {
                    var lItem = (criterionIndex == 0 ? l[criterionIndex].getTime() : l[criterionIndex]) + ""
                    var rItem = (criterionIndex == 0 ? r[criterionIndex].getTime() : r[criterionIndex]) + ""
                    return lItem.localeCompare(rItem) * sortDirection
                }
                return this.searchedQuotes.sort(sortFunc)
            }
        },
        filters: {
            formatDate: function (value) {
                return MONTH_NAMES[value.getMonth()] + " " + value.getDate() + ", " + value.getFullYear()
            }
        }
    })

    Papa.parse("./data/bens_quotes-posts.csv", {
        download: true,
        complete: function (results) {
            if (results.errors.length == 0) {
                vm.posts = results.data
            } else {
                // TODO show result and offer to reload
            }
        }
    })

    Papa.parse("./data/bens_quotes-quotes.csv", {
        download: true,
        complete: function (results) {
            if (results.errors.length == 0) {
                vm.quotes = results.data
            } else {
                // TODO show result and offer to reload
            }
        }
    })
</script>
</body>
</html>
