<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben's Quotes</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!-- Materialize stuff -->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Library for loading CSV files -->
    <script src="js/papaparse.min.js"></script>

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo black-text">Ben's Quotes</a>
    </div>
</nav>

<main>
    <div id="app" class="container">
        <div class="search-wrapper">
            <input type="text" v-model.trim="searchQuery" placeholder="Search the quotes">
            <!--<a v-if="searchQuery" @click="searchQuery = ''" class="clear-search material-icons black-text">clear</a>-->
            <button v-if="searchQuery" @click="searchQuery = ''"
                    class="clear-search material-icons black-text btn-transparent">
                clear
            </button>
        </div>
        <div>
            <span class="search-option-margin">Search in</span>

            <input type="checkbox" id="search-post-name" v-model="searchParams.postName">
            <label for="search-post-name" class="search-option-margin">Post name</label>

            <input type="checkbox" id="search-quote-author" v-model="searchParams.quoteAuthor">
            <label for="search-quote-author" class="search-option-margin">Quote author</label>

            <input type="checkbox" id="search-song-title" v-model="searchParams.songTitle">
            <label for="search-song-title" class="search-option-margin">Song title</label>

            <input type="checkbox" id="search-quoted-text" v-model="searchParams.quotedText">
            <label for="search-quoted-text" class="search-option-double-margin">Quoted text</label>

            <input type="checkbox" id="search-check-all" v-model="searchParamsCheckAll" @click="toggleCheckAll">
            <label for="search-check-all">Check all</label>
        </div>

        <table class="bordered">
            <thead>
            <tr>
                <th data-field="post-date">Post date</th>
                <th data-field="post-name">Post name</th>
                <th data-field="quote-author">Quote author</th>
                <th data-field="song-title">Song title</th>
                <th data-field="quote-text">Quote text</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="quote in searchedQuotes">
                <td>{{ quote[0] | formatDate }}</td>
                <td><a v-bind:href="quote[1]">{{ quote[2] }}</a></td>
                <td>{{ quote[4] }}</td>
                <td>{{ quote[5] }}</td>
                <td>
                    <template v-for="quoteLine in quote[3].split('\n')">
                        {{ quoteLine }}<br>
                    </template>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer class="page-footer teal lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Github link and stuff</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by Jakub Petriska
        </div>
    </div>
</footer>

<script type="text/javascript">
    var MONTH_NAMES = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    var vm = new Vue({
        el: "#app",
        data: {
            posts: [],
            quotes: [],
            searchQuery: "",
            searchParams: {
                postName: true,
                quoteAuthor: true,
                songTitle: true,
                quotedText: true
            },
            searchParamsCheckAll: true,
            checkAllWatcherEnabled: true
        },
        methods: {
            search: function (query, content) {
                return content.toLowerCase().search(query.toLowerCase()) != -1
            },
            toggleCheckAll: function () {
                if(this.checkAllWatcherEnabled) {
                    var searchParamsKeys = Object.keys(this.searchParams)
                    for (var i = 0; i < searchParamsKeys.length; ++i) {
                        this.searchParams[searchParamsKeys[i]] = this.searchParamsCheckAll
                    }
                }
            },
            updateCheckAll: function () {
                var allTrue = true
                var searchParamsKeys = Object.keys(this.searchParams)
                for (var i = 0; i < searchParamsKeys.length; ++i) {
                     allTrue = allTrue && this.searchParams[searchParamsKeys[i]]
                }
                this.searchParamsCheckAll = allTrue
            }
        },
        watch: {
            'searchParams.postName': function () {
                this.updateCheckAll()
            },
            'searchParams.quoteAuthor': function () {
                this.updateCheckAll()
            },
            'searchParams.songTitle': function () {
                this.updateCheckAll()
            },
            'searchParams.quotedText': function () {
                this.updateCheckAll()
            }
        },
        computed: {
            parsedQuotes: function () {
                if (this.posts.length == 0 || this.quotes.length == 0) {
                    // Some of the data were not loaded yet
                    return []
                } else {
                    var result = []
                    for (var i = 0; i < this.quotes.length; ++i) {
                        var quote = this.quotes[i]
                        if (quote.length == 4) {
                            var postId = Number(quote[0])
                            var post = this.posts[postId - 1]
                            var postDate = new Date(post[1])
                            result.push([postDate].concat(post.slice(2), quote.slice(1)))
                        }
                    }
                    return result
                }
            },
            searchedQuotes: function () {
                if (!this.searchQuery
                    || !(this.searchParams.postName || this.searchParams.quoteAuthor
                    || this.searchParams.songTitle || this.searchParams.quotedText)) {
                    return this.parsedQuotes
                } else {
                    var result = []
                    for (var i = 0; i < this.parsedQuotes.length; ++i) {
                        var parsedQuote = this.parsedQuotes[i]
                        var postName = parsedQuote[2]
                        var quoteAuthor = parsedQuote[4]
                        var songTitle = parsedQuote[5]
                        var quotedText = parsedQuote[3]
                        if ((this.searchParams.postName && this.search(this.searchQuery, postName))
                            || (this.searchParams.quoteAuthor && this.search(this.searchQuery, quoteAuthor))
                            || (this.searchParams.songTitle && this.search(this.searchQuery, songTitle))
                            || (this.searchParams.quotedText && this.search(this.searchQuery, quotedText))) {
                            result.push(this.parsedQuotes[i])
                        }
                    }
                    return result
                }
            }
        },
        filters: {
            formatDate: function (value) {
                return MONTH_NAMES[value.getMonth()] + " " + value.getDate() + ", " + value.getFullYear()
            }
        }
    })

    Papa.parse("./data/bens_quotes-posts.csv", {
        download: true,
        complete: function (results) {
            if (results.errors.length == 0) {
                vm.posts = results.data
            } else {
                // TODO show result and offer to reload
            }
        }
    })

    Papa.parse("./data/bens_quotes-quotes.csv", {
        download: true,
        complete: function (results) {
            if (results.errors.length == 0) {
                vm.quotes = results.data
            } else {
                // TODO show result and offer to reload
            }
        }
    })
</script>

<!-- Materialize stuff -->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
